.font_size_20px {
    font-size: 20px;
}

.color_white {
    color : white
}

.main {
    margin: 30px 20vh;
    display: flex;
}

.left-side {
    width: 30%;
    margin-right: 20px;
}
.right-side {
    width: 70%;
}

.skills-set {
    color: black;
    font-size: 10px;
    border: 1px solid rgba(128, 128, 128, 0.281);
    border-radius: 50px;
    padding: 5px 10px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skill-set-container {
    display: flex;
    flex-wrap: wrap;
}

.profile-container {
    height: 20vh;
    border-radius: 50%;
    margin: 20px 0;
}

.description-bottom {
    font-weight: 600;
    margin-right: 30px;
    display: flex;
}

.description-bottom-container {
    display: flex;
    padding-left: 25px;
}

.my-project-card-container {
    width: 30%;
    /* border-radius: 8px; */
}